<div class="row">
  <div class="small-6 columns">
    <h3>Please enter your trip's details</h3>
  </div>
</div>

<form method="POST" action="/places" name="places">
  <div class="row">
    <div class="small-12 columns">
      <label for="origin">Origin:</label>
      <input type="text" name="origin" placeholder="Leave blank if you want to use your current location as origin">
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <label for="waypoint1">Waypoint 1:</label>
      <input type="text" name="waypoint1">
    </div>
    <div class="small-12 large-6 columns">
      <label for="waypoint2">Waypoint 2:</label>
      <input type="text" name="waypoint2">
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <label for="waypoint3">Waypoint 3:</label>
      <input type="text" name="waypoint3">
    </div>
    <div class="small-12 large-6 columns">
      <label for="waypoint4">Waypoint 4:</label>
      <input type="text" name="waypoint4">
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <label for="waypoint5">Waypoint 5:</label>
      <input type="text" name="waypoint5">
    </div>
    <div class="small-12 large-6 columns">
      <label for="waypoint6">Waypoint 6:</label>
      <input type="text" name="waypoint6">
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <label for="waypoint7">Waypoint 7:</label>
      <input type="text" name="waypoint7">
    </div>
    <div class="small-12 large-6 columns">
      <label for="waypoint8">Waypoint 8:</label>
      <input type="text" name="waypoint8">
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <label for="waypoint9">Waypoint 9:</label>
      <input type="text" name="waypoint9">
    </div>
    <div class="small-12 large-6 columns">
      <label for="waypoint10">Waypoint 10:</label>
      <input type="text" name="waypoint10">
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <button type="submit" class="button">Calculate trip</button>
    </div>
  </div>
</form>
