<h3 class="text-center">Please enter your trip's details</h3>
<form method="POST" action="/places" name="places">
  <label for="origin">Origin:</label>
  <input type="text" name="origin"><br><br>

  <label for="waypoint1">Waypoint 1:</label>
  <input type="text" name="waypoint1"><br><br>

  <label for="waypoint2">Waypoint 2:</label>
  <input type="text" name="waypoint2"><br><br>

  <button type="submit" class="button">Calculate trip</button>
</form>
