<div class="row">
  <div class="small-6 columns">
    <h3>Please enter your trip's details</h3>
  </div>
</div>

<form method="POST" action="/places" name="places">
  <div class="row">
    <div class="small-6 columns">
      <label for="origin">Origin:</label>
      <input type="text" name="origin">
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <label for="waypoint1">Waypoint 1:</label>
      <input type="text" name="waypoint1">
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <label for="waypoint2">Waypoint 2:</label>
      <input type="text" name="waypoint2">
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <label for="waypoint3">Waypoint 3:</label>
      <input type="text" name="waypoint3">
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <button type="submit" class="button">Calculate trip</button>
    </div>
  </div>
</form>
